// RWD Bases
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin      : 0;
  font-family : sans-serif;
  font-size: .9em;
  line-height: 1.5em; 
  background-color: #EFEFEF;
}

// Imágenes responsive
// img {
//   max-width : 100%;
//   height    : auto;
// }

a {
  text-decoration : none;

  &:hover { text-decoration : underline }
}
