%button {
  display         : inline-block;
  padding         : .8em 1.6em;
  cursor          : pointer;
  border          : none;
  text-decoration : none;
}

@mixin edgridButton($bg-color: #ddd,$front-color: #333,$style: default) {
  @extend    %button;
  background : $bg-color;
  color      : $front-color;

  // &:hover {
  //   background      : darken($bg-color, 5);
  //   text-decoration : none;
  // } 
  &:active {
    transform : scale(.97);
  }

  // estilos del boton (radius o round)
  @if $style == radius {
    border-radius : .25em;
  } @else if $style == round {
    border-radius : 1.25em;
  }
}
%btn{
  display          : inline-block;
  padding          : 0.5em 0.9em; 
  text-decoration  : none;
  border-radius    : 18px; 
  font-size        : 14px; 
}
@mixin wphButton($bg-color: rgb(93, 132, 218),$front-color: rgb(78, 74, 74),$box-color:rgb(107, 38, 148),$style: default) {
  @extend    %btn;
  background : $bg-color;
  color      : $front-color; 
  box-shadow : 2px 3px  $box-color;
}